*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
body {
  padding: 20px;
}
header {
  display: flex;
  justify-content: center;
}
.logo{
width: 50%;
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.item {
  
  background-color: #f0eeee;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 20px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.titulo, .descricao {
  margin: 10px 0;
}

.preco {
  background-color: rgb(51, 202, 20);
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}
.rodape {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  background-color: rgb(51, 202, 20);
}